﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = UmPrototype.Core.Models.Generated;
@{
	Layout = "~/Views/Shared/Master.cshtml";
}
@Model.Title
@if (Model.Broker != null)
{
	<h2>@Model.Broker.Name</h2>
}
